@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

:root {
  box-sizing: border-box;
  font-family: "Sora";
}

body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.package-heading {
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
  padding-bottom: 0.5em;
}
.package-version {
  color: #707070;
  font-weight: 400;
  font-size: 0.7rem;
}

.package-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
}

.package-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #363636;
  padding-bottom: 0.5em;
}

.package {
  display: flex;
  flex-direction: column;
  background-color: #f9f7ed;

  width: 326px;
  height: 91px;
  border-radius: 12px;
  align-items: flex-start;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.package-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 2em 1em;
  padding-bottom: 1em;
  width: 100%;
}

.sub-heading {
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  color: #707070;

  padding-top: 2em;
}

.container {
  width: calc(100vw-8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  padding-bottom: 10rem;
}

.searchbar {
  width: 30em;
  padding: 22px 30px 22px 30px;
  font-size: 1.5rem;
  color: #282828;
  border-radius: 12px;
  appearance: none;
  border: none;
  background-color: #f9f7ed;
}
.searchbar:focus {
  outline: none;
}
.searchbar::placeholder {
  color: #282828;
  font-weight: 600;
}
.navbar {
  margin-top: 4vh;
  background-color: #282828;
  width: 70vw;
  min-height: 3vh;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-element {
  color: white;
  text-align: left;
  padding: 2em 3em 2em 3em; /*top right bottom left*/
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.heading {
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}
.button-holder {
  display: flex;
  justify-content: center;
  gap: 4em;
  width: 800px;
  align-items: center;
  margin-bottom: 2em;
}

.install-button {
  background-color: #282828;
  color: white;
  border-radius: 12px;
  padding: 1em 3em 1em 3em;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  flex: 0 1 auto;
}
.gettingstarted-button {
  border: 2px solid #282828;
  color: #282828;
  border-radius: 12px;
  padding: 1em 2em 1em 2em;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  flex: 0 1 160px;
}

input::-webkit-input-placeholder { /* Edge */
  color: #ffffff;
}

input:-ms-input-placeholder { /* Internet Explorer */
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}