@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

.pkgcontainer {
    margin-left: 5vw;
    padding: 2vw;
    background-color: #F9F7ED;
    max-width: 80vw;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.pkglang {
    font-size: x-large;
}

.pkgname {
    margin-top: 1rem;
}